* {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 5px;
}

.page {
    width: 100%;
}

.content {
    width: 80%;
    background-color: whitesmoke;
    padding: 50px;
}

.back {
    height: 40px;
    width: 40px;
    z-index: 50;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    /*padding-left: 25px;*/
    padding-right: 25px;
}

.marker {
    list-style-type: none;
}

span {
    margin: 10px;
}

input {
    margin: 10px;
}



@media (max-width: 767.98px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }
}
